// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Basic Aliases
.inline {
	display:inline;
}

.display-none {
	display:none;
}

.pointer {
	cursor:pointer;
}

// Page Title
div.page-title{
	padding-bottom:20px;
}

// Chart Legend
div.chart-legend {
	margin-top:20px;
	margin-bottom:20px;
}

div.chart-legend span {
  display:inline-block;
  width:.8em;
  height:.8em;
  margin-right:.5em;
  margin-left:.5em;
}

div.chart-legend li {
  display:inline-block;
  white-space:pre;
}

div.chart-legend ul {
  text-align:center;
  list-style-type:none;
}

// Table that can be clicked
table.clickable td {
	cursor:pointer;
}

// Fieldset Legend
legend {
	margin-bottom:0px;
}
